{% extends "base.html" %}
{% load static %}

{% block title %}Post title{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post_detail.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'blog/all_posts.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
    {% if comment_form.errors %}
        <div id="alert">
            <h2> There was an error with your comment. Please try again. </h2>
            <p> Please check the comment </p>
            <a href="#comment-form">Go back to the comment form</a>
        </div>
    {% endif%}
    <section id="summary">
        <h2>{{post.title}}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{tag.caption}}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            <form action="{% url 'read-later-page' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_slug" value="{{post.slug}}">
                <button>
                    {% if is_read_later %}
                        Remove from read later list
                    {% else %}
                        Add to read later
                    {% endif %}
                </button>
            </form>
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{ post.author.email_address }}">{{post.author}}</a></address>
            <div>
                Last updated on <time>{{post.date|date:"D d M Y"}}</time>
            </div>
        </article>
    </section>

    <main>
        <p> {{post.content}} </p>
    </main>

    <section id="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h2> {{comment.user_name}} </h2>
                    <p> {{comment.text|linebreaks}} </p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <form id="comment-form", method="POST", action="{% url 'post-detail-page' post.slug %}">
            {% csrf_token %}
            <h3>Your comment</h3>
            {% for field in comment_form %}
                <div class="form-control {% if field.errors %}invalid{% endif %}">
                    {{field.label_tag}}
                    {{field}}
                    {{field.errors}}
                </div>
            {% endfor %}

            <button>Submit</button>
        </form>
    </section>
{% endblock %}